.webtoonDetailPage {
  width: 100%;
  padding: 48px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--card-background-color);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.webtoonInfo {
  display: flex;
  margin-bottom: 30px;
}

.webtoonImage {
  flex-shrink: 0;
}

.webtoonImage img {
  width: 330px;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}

.webtoonDetails {
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-bottom: 10px;
}

.bookmark-button, .heart-button {
  margin-right: 10px;
  padding: 8px 12px;
  font-size: 16px;
}

.webtoonTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.webtoonMeta {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--author-color);
}

.extra-info {
  height: 50px;
}

/* 평가 섹션 */
.evaluationSection {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--form-background-color);
}

/* 웹툰 분석 섹션 */
.analysisSection {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--form-background-color);
}

/* 비슷한 웹툰 추천 섹션 */
.similarWebtoons {
  margin-top: 30px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--form-background-color);
}

.similarWebtoonsList {
  display: flex;
  gap: 10px;
}

.similarWebtoonItem {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.webtoonDetails {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusBadges {
  display: flex;
  gap: 0.5rem;
}

.platformIcons {
  display: flex;
  gap: 0.5rem;
}

.title {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem;
  font-weight: bold;
  margin: 0;
  align-self: flex-start;
}

.authors {
  color: #666;
  font-size: 0.875rem;
}

.synopsis {
  position: relative;
}

.description {
  margin: 0;
  line-height: 1.6;
  max-height: 4.8em; /* 3줄 */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.description.expanded {
  max-height: none;
}

.tags {
  position: relative;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 4.5rem; /* 2줄 */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.tagContainer.expanded {
  max-height: none;
}

.expandButton {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

.actionButtons {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.action-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 20px;
}
