services:
  spring-app:
    image: $DOCKER_HUB_USERNAME/toonpick-service-app:latest
    container_name: toonpick-service-app
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
    env_file:
      - .env
    restart: always
    depends_on:
      mariadb:
        condition: service_healthy
      mariadb-meta:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - backend

  mariadb:
    image: mariadb:10.5
    container_name: toonpick-db
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--host=localhost", "--user=root", "--password=1234"]
      interval: 30s
      retries: 5
      timeout: 10s
      start_period: 30s
    restart: always

  mariadb-meta:
    image: mariadb:10.5
    container_name: toonpick-db-meta
    env_file:
      - .env
    ports:
      - "3307:3306"
    volumes:
      - mariadb-meta-data:/var/lib/mysql
    networks:
      - backend
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--host=localhost", "--user=root", "--password=1234"]
      interval: 30s
      retries: 5
      timeout: 10s
      start_period: 30s
    restart: always

  redis:
    image: redis:6.0
    container_name: toonpick-redis
    ports:
      - "6380:6379"
    networks:
      - backend
    restart: always

volumes:
  mariadb-data:
    driver: local
  mariadb-meta-data:
    driver: local

networks:
  backend:
    driver: bridge
