/* src/components/MenuBar.module.css */
.menuBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 1400px;
  color: #fff;
  margin: 0 auto;
}

.menuList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin: 0 10px;
  cursor: pointer;
  padding: 5px 10px;
}

.menuItem:hover {
  background-color: #444;
  border-radius: 4px;
}

.searchInput {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #555;
  color: #333;
}
