/* src/components/WebtoonItem.css */
.webtoon-item {
  width: 240px;
  height: 360px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.webtoon-item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.webtoon-info {
  padding: 10px;
  text-align: center;
}
