.webtoon-item {
  width: 170px; /* Fixed width */
  height: 300px; /* Fixed height */
  display: flex;
  flex-direction: column; /* Align elements vertically */
  align-items: center;
  padding: 10px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #252525;
}

.thumbnail-container {
  width: 100%;
  height: 270px; /* Fixed height for the thumbnail */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail-image {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.webtoon-info {
  width: 100%;
  display: flex;
  flex-direction: column; /* Align elements vertically */
  align-items: center;
  flex-grow: 1; /* Take remaining space */
  margin-top: 10px;
}

.webtoon-title {
  font-size: 17px; /* Fixed font size */
  line-height: 1.2;
  font-weight: bold;
  height: 2.6em;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  word-break: keep-all;
  text-align: center;
}

.webtoon-meta {
  display: flex;
  justify-content: space-between; /* Space between items */
  align-items: center; /* Align items vertically centered */
  width: 100%; /* Stretch to full width */
}

.webtoon-author {
  font-size: 12px;
  flex: 7;
  overflow: hidden; /* Hide overflow text */
  white-space: nowrap; /* Keep text on a single line */
  text-overflow: ellipsis; /* Add ellipsis for overflow */
}

.webtoon-rating {
  font-size: 13px;
  margin: 0px 5px; /* Add margin to separate from author */
  flex: 3; /* 7:3 ratio for width */
  text-align: right; /* Align text to the right */
}
