.profile {
  margin: 20px 0;
  padding: 30px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  display: flex;
  align-items: flex-start;
  height: 270px;
  width: 100%;
}

.profile:hover {
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.userInfo {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 10px;
  border: 2px solid #ddd;
}

.profileDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-size: 28px;
  margin: 0;
  color: #333;
}

.level, .points {
  font-size: 16px;
  color: #666;
  margin: 5px 0;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.statItem {
  text-align: center;
}

.statCount {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.statLabel {
  font-size: 14px;
  color: #666;
}

.achievements {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
  align-items: center;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  transition: color 0.3s;
}

.iconButton:hover {
  color: #007bff;
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.followButton, .editProfileButton {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s;
}

.followButton {
  background-color: #007bff;
  color: white;
}

.followButton:hover {
  background-color: #0056b3;
}

.editProfileButton {
  background-color: #f0f0f0;
  color: #333;
}

.editProfileButton:hover {
  background-color: #e0e0e0;
}

@media (max-width: 768px) {
  .userInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .userInfo img {
    margin-bottom: 10px;
  }
} 