.webtoonCard {
  width: 220px;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--card-background-color);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.webtoonCard:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

.thumbnailContainer {
  width: 100%;
  height: 75%;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.webtoonInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-top: 12px;
}

.webtoonTitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: bold;
  height: 2.8em;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
  color: var(--text-color);
}

.webtoonMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.webtoonAuthor {
  font-size: 14px;
  color: var(--author-color);
  flex: 7;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.webtoonRating {
  font-size: 14px;
  margin: 0px 5px;
  flex: 3;
  text-align: right;
  color: var(--rating-color);
}
