.mypage-container {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1c1c1c; /* 다크 테마 */
  color: #ffffff;
}

.profile-section {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.profile-card {
  width: 1000px;
  height: 200px;
  background-color: #2e2e2e;
  border-radius: 15px;
  display: flex;
  padding: 40px;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
  margin-top: -20px;
  object-fit: cover;
  border: 4px solid #ffffff;
}


.profile-details {
  flex-grow: 1;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username {
  font-size: 1.5rem; /* 텍스트 크기 조정 */
  font-weight: 600;
  color: #ffffff;
}

.edit-button {
  background-color: #ff3d3d;
  color: #ffffff;
  border: none;
  padding: 8px 16px; /* 버튼 크기 조정 */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: #ff7474;
}

.email {
  font-size: 0.9rem; /* 텍스트 크기 조정 */
  color: #cccccc;
  margin-bottom: 10px; /* 간격 줄이기 */
}

.badge-cards {
  display: flex;
  gap: 20px; /* 카드 사이 간격 */
}

.badge-card {
  background-color: #3c3c3c;
  width: 200px; /* 카드 너비 고정 */
  height: 80px; /* 카드 높이 고정 */
  padding: 5px; /* 내부 패딩 조정 */
  border-radius: 12px;
  text-align: center;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column; /* 내부 요소를 세로로 배치 */
  justify-content: center; /* 세로 정렬 */
}

.badge-card:hover {
  transform: scale(1.05); /* 호버 효과 */
}

.badge-card h3 {
  margin-bottom: 0px; /* 간격 조정 */
  font-size: 1.2rem; /* 텍스트 크기 조정 */
  color: #ffffff;
}

.badge-card p {
  font-size: 1rem; /* 숫자 텍스트 크기 조정 */
  color: #ffd700; /* 숫자 강조 */
}

.content-section {
  background-color: #2c2c2c;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
