.webtoon-detail-page {
  width: 100%;
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: black;
  border-radius: 2%;

}

.webtoon-info {
  display: flex;
  margin-bottom: 30px;
}

.webtoon-image img {
  width: 330px;
  height: 450px;
  object-fit: cover;
}

.webtoon-details {
  margin-left: 20px;
  flex-grow: 1;
}

.buttons {
  margin-bottom: 10px;
}

.bookmark-button, .heart-button {
  margin-right: 10px;
  padding: 8px 12px;
  font-size: 16px;
}

.webtoon-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
}

.webtoon-meta {
  font-size: 18px;
  margin-bottom: 10px;
}

.extra-info {
  height: 50px;
}

/* 평가 섹션 */
.evaluation-section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

/* 웹툰 분석 섹션 */
.analysis-section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

/* 비슷한 웹툰 추천 섹션 */
.similar-webtoons {
  margin-top: 30px;
}

.similar-webtoons-list {
  display: flex;
  gap: 10px;
}

.similar-webtoon-item {
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}
