.webtoonInfo {
  display: flex;
  margin-bottom: 30px;
}

.webtoonImage {
  flex-shrink: 0;
}

.webtoonImage img {
  width: 330px;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}

.webtoonDetails {
  margin-left: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.webtoonTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.webtoonMeta {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--author-color);
}

.statusBadges {
  display: flex;
  gap: 0.5rem;
}

.platformIcons {
  display: flex;
  gap: 0.5rem;
}

.authors {
  color: #666;
  font-size: 0.875rem;
}

.synopsis {
  position: relative;
}

.description {
  margin: 0;
  line-height: 1.6;
  max-height: 4.8em;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.description.expanded {
  max-height: none;
}

.tags {
  position: relative;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 4.5rem;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.tagContainer.expanded {
  max-height: none;
}

.expandButton {
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 0.875rem;
} 