/* src/styles.css */
body {
  background-color: #161616;
  color: white;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  width: 1200px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}