.webtoonList {
  padding: 10px;
  position: relative;
  overflow: hidden;
  min-height: 220px; /* 기본 높이 설정 */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.carousel > * {
  flex: 0 0 auto;
  margin-right: 10px;
}

.emptyMessage {
  text-align: center;
  color: #888;
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  pointer-events: none;
}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  pointer-events: auto;
}

.navButton:disabled {
  display: none;
}