.webtoonList {
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.carousel > * {
  flex: 0 0 auto;
  margin-right: 20px;
}

.emptyMessage {
  text-align: center;
  color: #888;
  font-size: 18px;
  margin-top: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.navButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}